@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.taskDisplayContainer {
  @extend .horizontalTileContainer;
  grid-template-columns: 4fr 3fr 1fr 1fr;
  .title {
    display: flex;
    align-items: center;
    gap: $size-xs;
    .titleText {
      display: flex;
      align-items: center;
      gap: $size-s;
      h5 {
        font-size: $size-l;
      }
    }
  }

  .tagsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $size-xxxs;
    align-content: center;
    justify-content: center;
  }
  .taskDifficulty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
