@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.confirmationWindowBackground {
  @extend .modalBackground;
  .confirmationWindow {
    @extend .smallModalWindow;
    cursor: default;
    .buttonsContainer {
      display: flex;
      gap: $size-xxs;
      button {
        @extend .button;
        min-width: $size-giant;
      }
    }
  }
}
