@import "../../../styles/variables.module.scss";

.loadingStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-gray-lightest;
  z-index: 100;
  .spinner {
    animation: spin 1.5s linear infinite;
    font-size: $size-xxxxl;
  }
}

.spinnerOnly {
  animation: spin 1.5s linear infinite;
}

.containerSize {
  position: absolute;
}

.fullscreen {
  position: fixed;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
