@import "../../../../../styles/variables.module.scss";

.calendarWeek {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-between;

  border-radius: $size-xxxxs;
  overflow: hidden;
  .chevron {
    background-color: $main-gray-light;
    font-size: $size-xxxxl;
    color: $main-white;
    border-radius: $size-xxxxs;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30%;
    cursor: pointer;
    margin: auto $size-xxl;

    transition: $basic-transition;

    &:hover {
      background-color: $main-gray;
    }
  }
  .disabled {
    background-color: $main-gray-lightest;
    cursor: default;
    &:hover {
      background-color: $main-gray-lightest;
    }
  }
}
