@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/classes.module.scss";

.reservationDetailsModalBackground {
  @extend .modalBackground;
  @extend .backdropBlur;
  .reservationDetailsModal {
    @extend .smallModalWindow;
    width: 50%;
    height: 50%;
    h5 {
      font-size: $size-s;
    }
    .reservationDetails {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
