@import "../../../styles/variables.module.scss";

.dashboardHomePageContainer {
  position: relative;
  display: flex;
  gap: $size-l;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
      display: flex;
      flex-direction: column;
      gap: $size-xs;
      margin-bottom: $size-xxs;
    }

    // .tagsContainer {
    //   display: flex;
    //   gap: $size-xxxs;
    //   flex-wrap: wrap;
    // }
  }

  .dashboardInfoContainer {
    flex: 1;
    // position: relative;
    display: flex;
    flex-direction: column;
    border-radius: $size-xxxxs;
    padding: $size-l $size-s;
    gap: $size-xxxs;

    .calendardNavigationButtons {
      display: flex;
      justify-content: space-between;
      padding: $size-xs;
      position: absolute;
      top: $size-s;
      left: 0;
      width: 100%;

      button {
        flex: 0;
      }
    }
  }
}

.stretchVertically {
  height: 100%;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
