@import "../../../../styles/variables.module.scss";

.dropdownContainer {
  display: flex;
  align-items: center;
  gap: $size-xxs;
  align-items: center;
}
.buttonsContainer {
  display: flex;
  gap: $size-xxs;
}
