@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/classes.module.scss";

.userDisplayContainer {
  @extend .horizontalTileContainer;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  .statusContainer {
    display: flex;
    align-items: center;
    gap: $size-xxxs;
  }
}
