@import "../../../../../styles/variables.module.scss";

.mainContainer {
  margin: $size-xxxs 0;
  width: 100%;
  display: grid;
  gap: $size-xxxs;
  padding: $size-l;
  border-radius: $size-xxxxs;
  // justify-items: stretch;
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
