@import "../../../../../styles/variables.module.scss";

.mainContainer {
  // margin: $size-xxxxs 0;
  width: 100%;
  display: grid;
  gap: $size-xxs;
  padding: $size-l;
  // border-bottom: 1px dotted $main-gray;

  // border-top: 1px dotted $main-gray;
  // box-shadow: $inset-soft-shadow;
  // justify-items: stretch;
}

// .mainContainer:last-child {
//   border-bottom: none;
// }

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
