@import "../../../../styles/variables.module.scss";

@import "../../../../styles/classes.module.scss";

.customDropdown {
  position: relative;
  @extend .input;
  width: 7rem;
  // width: 100%;
}

.selected {
  cursor: pointer;
}

.dropdownList {
  position: absolute;
  left: 0;
  z-index: 40;
  width: 7rem;
  max-height: 10rem; /* Set max height */
  box-shadow: $soft-shadow-gray;
  overflow-y: auto; /* Enable scrolling */
  background-color: $main-white-lightest;
  border: 1px solid #ccc;
  list-style: none;
  scrollbar-width: none;
}

.dropdownList li {
  padding: $size-xxxxs;
  cursor: pointer;
}

.dropdownList li:hover {
  background-color: $main-white-light;
}
