@import "../../../../styles/variables.module.scss";

.dashboardContainer {
  display: flex;
  gap: $size-s;
  height: 100vh;
  width: 100vw;
  padding: $size-xxxxs $size-xxxxs;
  background: $background-gradient;

  .dashboardNav {
    width: 18rem;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: $size-xxxl;
    padding: $size-xl $size-xs;
  }

  .dashboardContent {
    flex: 1;
    padding: $size-s;
  }

  .dashboardNav,
  .dashboardContent {
    border-radius: $size-xxxxs;
    background-color: $main-gray-lightest;
    box-shadow: $soft-shadow-gray;
  }
}
