@import "../../../../styles/variables.module.scss";

.dashboardWelcomeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $size-xs;
  h4 {
    text-align: center;
    line-height: 1.2;
  }
  .dashboardUserIcon {
    // align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: linear-gradient(135deg, #46a753, #3aa8c4);
    h3 {
      font-size: $size-giant;
      font-weight: 500;
      color: $icon-color;
    }
  }
}
