@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.modalWindow {
  @extend .modalWindowContent;

  .buttonsContainer {
    display: flex;
    gap: $size-xxs;
    width: 100%;
    justify-content: space-between;
  }
}
