@import "../../../../../styles/variables.module.scss";

.planInfoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;

  h4 {
    text-align: center;
    margin-bottom: $size-xl;
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $size-s;
    height: 100%;
  }
}
