@import "../../../../styles/variables.module.scss";
@import "../../../../styles/classes.module.scss";

.editButton {
  @extend .commonButton;
  position: relative;
  min-width: 7rem;
  justify-content: center;
}
