@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/classes.module.scss";

.mainContainer {
  margin: $size-xxxs 0;
  display: flex;
  flex: 1;
  gap: $size-xxxs;
  padding: $size-l;
  border-radius: $size-xxxxs;
  .statusControlContainer {
    display: flex;
    flex: 1;
    // background-color: $main-white-lightest;
    gap: $size-xxxxl;
    box-shadow: $inset-soft-shadow;
    border-radius: $size-xxxxs;
    padding: $size-xxxxs $size-xxxxs $size-xxxxs $size-s;
    justify-content: space-between;
    input {
      @extend .input;
      text-align: left;
      font-size: $size-s;
    }

    .statusContainer {
      display: flex;
      align-items: center;
      gap: $size-xxxs;
    }
    // .buttonsContainer {
    //   display: flex;
    //   flex-direction: column;
    //   // gap: $size-xxxs;
    //   width: 12rem;
    // }
    .levelButtonsContainer {
      display: flex;
      gap: $size-xxxs;
      // width: 12rem;
    }
    .warningIcon {
      font-size: $size-l;
      color: $delete-red;
    }
  }
}
