@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/classes.module.scss";

.calendarMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 800px;
  border-radius: $size-xxxxs;
  overflow: hidden;
}
