@import "../../../../styles/variables.module.scss";

.fullCalendarPageContainer {
  background-color: $main-gray-light;
  height: 100%;
  user-select: none;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100%;
  // width: 100%;
  // min-height: 800px;
  // border-radius: $size-xxxxs;
  // overflow: hidden;
}
