@import "../../../styles/variables.module.scss";

.dashboardContainer {
  display: flex;
  gap: $size-s;
  height: 100vh;
  width: 100vw;
  padding: $size-xxxxs $size-xxxxs;
  background: $background-gradient;

  .dashboardNav {
    width: 18rem;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: $size-xxxl;
    padding: $size-xl $size-xs;
    position: relative;
    transition: $reveal-transition;
  }

  .dashboardContentContainer {
    flex: 1;
    padding: $size-s;
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
  }
  .dashboardContentContainer::-webkit-scrollbar {
    width: $size-xxxxs; /* Width of the scrollbar */
  }

  .dashboardContentContainer::-webkit-scrollbar-track {
    // background: $main-gray-lightest; /* Track color */
    border-radius: $size-xxxs;
  }

  .dashboardContentContainer::-webkit-scrollbar-thumb {
    background-color: $main-gray; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    // border: 3px solid #f1f1f1; /* Add padding around the thumb */
  }

  .dashboardContentContainer::-webkit-scrollbar-thumb:hover {
    background: $main-gray-dark; /* Scrollbar color on hover */
  }

  .dashboardNav,
  .dashboardContentContainer {
    border-radius: $size-xxxxs;
    background-color: $main-gray-lightest;
    box-shadow: $soft-shadow-gray;
  }
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(-100%);
}

/* Custom scrollbar for Chrome, Safari, and Edge */
