@import "../../../../../styles/variables.module.scss";
@import "../../../../../styles/classes.module.scss";

.calendarHalfHourBlock {
  display: flex;
  align-items: center;
  height: 100%;
  // border: 1px solid $main-gray;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
  .time {
    opacity: 0;
    transition: all 1s ease-in-out;
    color: $main-gray;
    font-size: $size-xs;
    margin-left: $size-xxxxs;
  }
  &:hover {
    .time {
      opacity: 1;
    }
  }
}
.green {
  background-color: $main-green;
}
.gray {
  background-color: $main-gray-lightest;
}

.mainWhite {
  background-color: $main-white-lightest;
}

.hoverColor {
  background-color: $main-white-calendar-hover;
}
