@import "../../../../../styles/variables.module.scss";

.calendarHoursColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 30rem;
  border-radius: $size-xxxxs;
  overflow: hidden;
  // background-color: red;
  .calendarHoursColumnHeader {
    height: $size-xxxl;
  }

  .calendarHour {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    p {
      font-size: $size-xs;
    }
  }
}
