@import "../../../../../styles/variables.module.scss";
.bookingTile {
  background-color: $reservation-green;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: $size-xxxxs;
  width: 98%;
  z-index: 1;
}

.duration1 {
  height: 95%;
}

.duration2 {
  height: 200%;
}

.duration3 {
  height: 300%;
}

.duration4 {
  height: 400%;
}

.opacity100 {
  opacity: 1;
}

.opacity50 {
  opacity: 0.5;
}

.opacity30 {
  opacity: 0.3;
}
