@import "../../../../../styles/variables.module.scss";

.dashboardHomePageContainer {
  position: relative;
  display: flex;
  gap: $size-l;
  height: 100%;
  // transition: $reveal-transition;

  .dashboardInfoContainer {
    flex: 1;
    border-radius: $size-xxxxs;
    padding: $size-xxxl $size-xxxl;
  }
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}
