.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  gap: 1px;
}

.gridHeader {
  display: contents;
}

.gridHeaderDay {
  background-color: #f3f3f3;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
}

.gridBody {
  display: contents;
}

.gridHour {
  grid-column: span 7;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
