@import "./variables.module.scss";

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: $size-s;
  // margin: $size-s;
  // transition: $reveal-transition;
}

.fullscreenCardContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  // height: 50%;
  padding: $size-xxxl;
  background: $card-background-gradient;

  border-radius: $size-xxxxs;
  justify-content: center;
  align-items: center;
}

.formContainer {
  // position: relative;
  display: flex;
  flex-direction: column;
  gap: $size-m;
  align-items: center;
  width: 60%;

  justify-content: center;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: $size-m;
  align-items: center;
  // justify-content: center;
  width: 100%;
}

.backdropBlur {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modalBackground {
  cursor: pointer;
}

.smallModalWindow {
  z-index: 10;
  color: red;
}

.modalWindowButtonsContainer {
  display: flex;
  gap: $size-xxs;
  width: 100%;
  justify-content: space-between;
}

.modalWindowContent {
  z-index: 21;
  display: flex;
  flex-direction: column;
  gap: $size-xxl;
  align-items: center;
  cursor: default;
}

.input {
  border-radius: $size-xxxxs;
  border: none;
  padding: $size-xxxxs;
  box-shadow: $inset-soft-shadow;
  text-align: center;
  transition: $basic-transition;
  &:focus {
    outline: none;
  }
}

.inputHover {
  background-color: $main-white-light;
  text-decoration: underline;
}

.mainPageInfoTile {
  box-shadow: $soft-shadow-gray-light;
  border-radius: $size-xxxxs;
  // padding: $size-m;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $size-xs;
  font-weight: 500;
}

.navLinksContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  gap: $size-xxxl;
  list-style: none;
}

.navLink {
  display: flex;
  gap: $size-xxxxs;
  flex-direction: column;
  list-style: none;
}

.horizontalTileContainer {
  display: grid;

  width: 100%;
  height: 100%;
  border-radius: $size-xxxxs;
  box-shadow: $soft-shadow-gray;
  background-color: $main-white-lightest;
  padding: $size-xxxxs $size-xs;
}
