@import "./variables.module.scss";

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: $size-s;
  // margin: $size-s;
  // transition: $reveal-transition;
}

.backdropBlur {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modalBackground {
  cursor: pointer;
}

.smallModalWindow {
  z-index: 10;
  color: red;
}

.modalWindowContent {
  z-index: 21;
  display: flex;
  flex-direction: column;
  gap: $size-xxl;
  align-items: center;
  cursor: default;
}

.input {
  border-radius: $size-xxxxs;
  border: none;
  padding: $size-xxxxs;
  box-shadow: $inset-soft-shadow;
  text-align: center;
  transition: $basic-transition;
  &:focus {
    outline: none;
  }
}

.inputHover {
  background-color: $main-white-light;
  text-decoration: underline;
}

.mainPageInfoTile {
  box-shadow: $soft-shadow-gray-light;
  border-radius: $size-xxxxs;
  // padding: $size-m;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $size-xs;
  font-weight: 500;
}
