$size-xxxxl: 3.815rem;
$size-xxxl: 3.052rem;
$size-xxl: 2.441rem;
$size-xl: 1.953rem;
$size-l: 1.563rem;
$size-m: 1.25rem;
$size-s: 1rem;
$size-xs: 0.8rem;
$size-xxs: 0.64rem;

$background-gradient: linear-gradient(135deg, #1f1f1f, #353535);
$main-black: #272829;
$main-white: #fff6e0;
$main-gray-darkest: #272931;
$main-gray-dark: #444855;
$main-gray-dark-transparent: #44485591;
$main-gray: #61677a;
$main-gray-light: #9095a2;
$main-gray-lightest: #c0c2ca;
$active-yellow: #f2c94c;
$light-gray: #d8d9da;
$main-green: #10a710;
$main-red: #9b0a0a;
